{% extends 'base.html.twig' %}

{% block body %}
{#<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />#}

<section id="content" role="main" data-display="www.presenceosteo.fr.home" style="padding-top: 120px;">

    {#{% include 'ADesignsCalendarBundle::calendar.html.twig' %}#}
    {% include '@FullCalendar/Calendar/calendar.html.twig' %}
</section>

{% endblock %}

