<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/front/main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header id="nav">
            <nav class="menu">
                <a href="/" class="logo"></a>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer id="links">
            <a href="/">Accueil</a> -
            <a href="/domicile/">Domicile</a> -
            <a href="/entreprise/">Entreprise</a> -
            <a href="/evenements/">Evenementiel</a> -
            <a href="/mentionslegales/">Mentions légales</a> -
            <a href="mailto:presence.osteo@gmail.com">Contact</a>
            <br><br>
            <span class="grey">2015© Présence Ostéo</span>
        </footer>
    </body>
</html>
