body {
    background: #ccc scroll no-repeat center;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    margin: 0px;
}

body.loading {
    background-position: center 200px;
    background-size: 200px 200px;
}

b{
    font-weight:bold;
}

.hide {
    display:none;
}

a {
    text-decoration: none;
    color: #42b8dc;
}

.blue {
    color:#42b8dc;
}

.grey{
    color: #999;
}

/* Header */

#nav {
    background: #fff scroll no-repeat 200%;
    color: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

body.loading #nav  {
    background-position: center;
}

h1 {
    color: #42b8dc;
    font-size: 22px;
    margin: 5px 0px 5px 0px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    margin: 5px 0px 5px 0px;
}

#nav .logo {
    background: transparent url('../images/sprite.png') scroll no-repeat 0 7px;
    display:block;
    float:left;
    height:80px;
    width:320px;
}

#nav .menu {
    margin: 0 auto;
    max-width: 1000px;
    height:100%;
}

/* Content */

#content {
    overflow:hidden;
    margin: 0 auto;
    min-height: 600px;
    transition: opacity .2s;
    width:100%;
    z-index:5;
}

/* Footer */

#links{
    width:100%;
    margin:0 0 -1px;
    padding-top:20px;
    padding-bottom:20px;
    font-size:14px;
    background-color:#FFF;
    color: #ddd;
    text-align:center;
    position: relative;
    z-index: 5;
}

#links a {
    color:#333;
}

#links a:hover {
    color:#42b8dc;
}

/* partner */

#partner {
    overflow:hidden;
    margin: 0 auto;
    width:100%;
}

#partner .contenu{
    background-color: #42B8DC;
    color: #fff;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}
#partner img{
    margin:5px;
}

/* -------------------------- DESKTOP -------------------------- */

@media screen and (min-width: 1000px) {
    #content {
        width: 1000px;
        background-color:transparent;
        position:relative;
    }
    #partner{
        width: 1000px;
        background-color:transparent;
        position:relative;
    }
    #links{
        margin: 0 auto 100px;
        width: 1000px;
    }
}
