{% extends 'base.html.twig' %}

{% block body %}
    <section id="content" role="main" data-display="www.presenceosteo.fr.home">
        <div class="img-home"><img src="{{ asset('images/soin.png') }}"/></div>

        <div class="head">
            <div class="left-head"></div>
            <div class="middle-head"></div>
            <div class="right-head">
                Présence Ostéo est le 1er réseau d'ostéopathes recrutés pour leur qualité de formation.<br /><br />
                Tous les ostéopathes sont issus de formations du plus haut niveau d'exigence.<br /><br />
                Nous intervenons dans votre <a href="" class="link-bold">entreprise</a>, en <a href="" class="link-bold">évènementiel</a> et à <a href="" class="link-bold">domicile</a>.<br /><br />
                Un véritable réseau qui promet:<br /><br />
                <ul>
                    <li>la bonne pratique de l'ostéopathie</li>
                    <li>les bons établissements de formations</li>
                    <li>la reconnaissance des thérapeuthes qui en sont issus</li>
                </ul>
            </div>
        </div>
        <div class="fondateurs">
            <div class="lf"><img src=" {{ asset('images/lf.png') }}"/></div>
            <div class="left-fond">
                <div class="img"><img alt="Romain Marguerie" src="{{ asset('images/romain_marguerie.png') }}"/></div>
                <div class="profil">
                    <h1>Romain Marguerie</h1>
                    <h2>Président</h2>
                    <p>Formation: Collège Ostéopathique Européen</p>
                    <p>Adresse cabinet: 9 Rue Benjamin Godard 75116 Paris</p>
                    <p>Consultations Cabinet et Domicile</p>
                    <p>Formations complémentaires: Femmes enceintes, Soins en milieu sportif</p>
                    <p>Description de sa pratique: Pratique douce, adaptée à tous, du nourisson, femmes enceintes, sportif,personnes agées.</p>
                </div>
            </div>
            <div class="right-fond">
                <div class="img"><img alt="Nicolas Biard" src="{{ asset('images/nicolas_biard.png') }}"/></div>
                <div class="profil">
                    <h1>Nicolas Biard</h1>
                    <h2>Directeur Général</h2>
                    <p>Formation: Collège Ostéopathique Européen</p>
                    <p>Adresse cabinet: 9 Rue Benjamin Godard 75116 Paris</p>
                    <p>Consultations Cabinet et Domicile</p>
                    <p>Formations complémentaires: Femmes enceintes, Soins en milieu sportif</p>
                    <p>Description de sa pratique: Pratique douce, adaptée à tous, du nourisson, femmes enceintes, sportif,personnes agées.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
